@import "tailwindcss";
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slide-right {
  animation: slide-right 50s linear infinite;
}
